/*-- GLOBAL */
:root {
  --fancy-font-stack: 'Pacifico', cursive;
  --mono-space-font-stack: 'Source Code Pro', monospace;
  --primary-font-stack: 'Open Sans', sans-serif;

  --text-color: #1d1d1d;

  --primary-color: #684c85;
  --secondary-color: #ff9c11;
}

@keyframes shadowBounce {
  0% {
    box-shadow: 0 -5px 0 var(--secondary-color) inset;
  }

  50% {
    box-shadow: 0 -7.5px 0 var(--secondary-color) inset;
  }

  100% {
    box-shadow: 0 -5px 0 var(--secondary-color) inset;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: var(--text-color);
  font-size: 20px;
  margin: 0;
  min-height: 100%;
  padding-bottom: 50px;
  padding-top: 563px;
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

code {
  background-color: #f9f9f9;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  display: block;
  font-family: var(--mono-space-font-stack);
  font-size: 0.85rem;
  margin-bottom: 3em;
  overflow: auto;
  padding: 10px;
  white-space: nowrap;
}

.code--inline {
  display: inline;
  padding: 2px;
}

.headline {
  font-family: var(--primary-font-stack);
  font-size: 2em;
  color: var(--primary-color)
}

.headline--x-small {
  font-size: 0.9em;
}

.headline--small {
  font-size: 1em;
}

.headline--large {
  font-size: 3em;
}

.headline--x-large {
  font-size: 4em;
}

.headline--inverse {
  color: white;
}

.text {
  font-family: var(--primary-font-stack);
  font-size: 1em;
}

.headline--fancy,
.text--fancy {
  font-family: var(--fancy-font-stack);
}

.text--x-small {
  font-size: 0.65em;
}

.text--small {
  font-size: 0.85em;
}

.text--large {
  font-size: 1.45em;
}

.text--x-large {
  font-size: 1.85em;
}

.text--centered {
  text-align: center;
}

.text--space-below {
  margin-bottom: 1em;
}

.text--inverse {
  color: white;
}

.width-full {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.width-half {
  width: 50%;
}

.content-centered {
  margin-left: auto;
  margin-right: auto;
}

.header {
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 34px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

.nav__list {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0 0 0 5px;
  padding: 0;
}

.nav__item {
  margin-right: 5px;
}

.nav__link {
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  box-shadow: 0 -5px 0 var(--secondary-color) inset;
  color: black;
  display: block;
  padding: 20px 40px;
  text-decoration: none;
}

.nav__link:hover {
  animation-name: shadowBounce;
}

.logo {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo__item {
  font-family: var(--fancy-font-stack);
  font-size: 2em;
}

.main {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.section {
  background-color: white;
  padding: 50px 20px;
  position: relative;
  z-index: 1;
}

.section__headline {
  margin-bottom: 1em;
}

.section__last-element {
  margin-bottom: 0;
}

.intro {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  left: 0;
  padding: 0;
  position: fixed;
  top: 60px;
}

.intro__headline {
  margin-bottom: 20px;
}

.footer {
  background-color: white;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.footer__copy {
  align-items: center;
  border-top: 1px solid #dddddd;
  display: flex;
  height: 50px;
  justify-content: center;
  text-align: center;
}